In [3]:
import pandas as pd
bat = pd.read_csv('data/raw/batting_averages.csv')
bowl = pd.read_csv('data/raw/bowling_averages.csv')
field = pd.read_csv('data/raw/fielding_averages.csv')

In [7]:
bat.head()

,Team,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,KKR,VR Iyer,2021-2024,51,49.0,7.0,1326.0,104.0,31.57,967.0,137.12,1.0,11.0,2.0,121.0,61.0
1,KKR,N Rana,2021-2024,47,46.0,5.0,1199.0,80.0,29.24,892.0,134.41,0.0,7.0,3.0,107.0,60.0
2,KKR,AD Russell,2021-2024,53,44.0,10.0,967.0,70.0,28.44,588.0,164.45,0.0,3.0,3.0,65.0,80.0
3,KKR,RK Singh,2022-2024,36,32.0,10.0,816.0,67.0,37.09,547.0,149.17,0.0,4.0,0.0,61.0,44.0
4,KKR,SS Iyer,2022-2024,29,28.0,6.0,752.0,85.0,34.18,537.0,140.03,0.0,5.0,1.0,75.0,25.0

In [8]:
bowl.head()

,Team,Player,Span,Mat,Inns,Overs,Mdns,Runs,Wkts,BBI,Ave,Econ,SR,4,5
0,KKR,CV Varun,2021-2024,57,56.0,209.4,1.0,1611.0,65.0,4/15,24.78,7.68,19.3,1.0,0.0
1,KKR,AD Russell,2021-2024,53,44.0,91.4,0.0,933.0,54.0,5/15,17.27,10.17,10.1,1.0,1.0
2,KKR,SP Narine,2021-2024,57,56.0,215.0,0.0,1424.0,53.0,4/21,26.86,6.62,24.3,1.0,0.0
3,KKR,Harshit Rana,2022-2024,21,19.0,64.1,1.0,581.0,25.0,3/24,23.24,9.05,15.4,0.0,0.0
4,KKR,TG Southee,2021-2023,14,14.0,53.0,0.0,449.0,19.0,3/20,23.63,8.47,16.7,0.0,0.0

In [9]:
field.head()

,Team,Player,Span,Mat,Inns,Dis,Ct,St,Ct Wk,Ct Fi,MD,D/I
0,KKR,RK Singh,2022-2024,36,35,23,23,0,0,23,NaN,0.657
1,KKR,VR Iyer,2021-2024,51,50,18,18,0,0,18,NaN,0.360
2,KKR,SS Iyer,2022-2024,29,28,15,15,0,0,15,NaN,0.535
3,KKR,Rahmanullah Gurbaz,2023-2024,14,13,15,15,0,15,0,NaN,1.153
4,KKR,SP Narine,2021-2024,57,56,14,14,0,0,14,NaN,0.250