In [1]:
import pandas as pd
df=pd.read_csv("/home/parth/iplgameathon/fantasy-sports-machine-learning/data/ipl/player_form_scores.csv")

In [2]:
df.head(5)

,Player,Batting Form,Bowling Form,Fielding Form,Credits,Player Type,Team
0,Abdul Samad,74.465318,45.072254,70.433526,6.5,BAT,LSG
1,Abhinav Manohar,43.959538,48.526012,49.913295,6.5,BAT,SRH
2,Abhishek Sharma,90.404624,52.384393,65.953757,8.5,ALL,SRH
3,Abishek Porel,74.566474,48.526012,62.398844,6.5,WK,DC
4,Adam Zampa,18.583815,39.161850,26.502890,7.5,BOWL,SRH

In [3]:
sorte=df.sort_values('Batting Form',ascending=False)
sorte.head(15)

,Player,Batting Form,Bowling Form,Fielding Form,Credits,Player Type,Team
97,Nicholas Pooran,93.410405,48.526012,91.647399,8.5,WK,LSG
147,Suryakumar Yadav,93.352601,48.526012,68.988439,9.0,BAT,MI
47,Heinrich Klaasen,91.994220,48.526012,88.901734,9.0,WK,SRH
133,Sanju Samson,91.069364,48.526012,98.150289,9.0,WK,RR
10,Andre Russell,90.823699,69.089595,64.797688,8.5,ALL,KKR
139,Shivam Dube,90.621387,23.049133,67.976879,8.0,BAT,CHE
170,Yashasvi Jaiswal,90.606936,22.167630,69.855491,9.0,BAT,RR
2,Abhishek Sharma,90.404624,52.384393,65.953757,8.5,ALL,SRH
143,Shubman Gill,89.710983,48.526012,65.953757,9.0,BAT,GT
153,Travis Head,89.710983,22.514451,26.502890,9.0,BAT,SRH
128,Ruturaj Gaikwad,88.497110,48.526012,72.601156,9.0,BAT,CHE
112,Rajat Patidar,87.760116,48.526012,57.861272,8.0,BAT,RCB
48,Ishan Kishan,87.196532,48.526012,93.352601,8.0,WK,SRH
151,Tilak Varma,86.994220,40.549133,71.156069,8.0,BAT,MI
162,Virat Kohli,86.127168,48.526012,73.323699,9.0,BAT,RCB