In [9]:
import pandas as pd
df=pd.read_csv("/home/parth/iplgameathon/fantasy-sports-machine-learning/data/ipl/player_form_scores.csv")

In [10]:
df.head(5)

,Player,Batting Form,Bowling Form,Fielding Form,Credits,Player Type,Team
0,Abdul Samad,75.211864,44.209040,70.536723,6.5,BAT,LSG
1,Abhinav Manohar,44.378531,48.305085,51.327684,6.5,BAT,SRH
2,Abhishek Sharma,91.129944,52.217514,66.440678,8.5,ALL,SRH
3,Abishek Porel,75.423729,48.305085,63.644068,6.5,WK,DC
4,Adam Zampa,18.192090,39.632768,26.468927,7.5,BOWL,SRH

In [11]:
sorte=df.sort_values('Batting Form',ascending=False)
sorte.head(15)

,Player,Batting Form,Bowling Form,Fielding Form,Credits,Player Type,Team
151,Suryakumar Yadav,93.926554,48.305085,69.124294,9.0,BAT,MI
47,Heinrich Klaasen,92.768362,48.305085,89.519774,9.0,WK,SRH
10,Andre Russell,91.511299,69.025424,65.310734,8.5,ALL,KKR
143,Shivam Dube,91.313559,22.768362,68.135593,8.0,BAT,CHE
136,Sanju Samson,91.299435,48.305085,98.192090,9.0,WK,RR
174,Yashasvi Jaiswal,91.158192,22.118644,69.971751,9.0,BAT,RR
2,Abhishek Sharma,91.129944,52.217514,66.440678,8.5,ALL,SRH
147,Shubman Gill,90.028249,48.305085,66.440678,9.0,BAT,GT
157,Travis Head,90.000000,22.457627,26.468927,9.0,BAT,SRH
131,Ruturaj Gaikwad,88.983051,48.305085,72.655367,9.0,BAT,CHE
115,Rajat Patidar,88.799435,48.305085,58.813559,8.0,BAT,RCB
48,Ishan Kishan,87.853107,48.305085,93.502825,8.0,WK,SRH
155,Tilak Varma,87.401130,40.423729,71.242938,8.0,BAT,MI
150,Sunil Narine,87.118644,78.601695,66.440678,9.0,ALL,KKR
166,Virat Kohli,86.666667,48.305085,73.361582,9.0,BAT,RCB

In [12]:
df1=pd.read_csv("squad.csv")
print(df1.isnull().sum())
print(df1['ESPN player name'].isnull().sum())

Credits             0
Player Type         0
Player Name         0
Team                0
ESPN player name    6
dtype: int64
6

In [15]:
import pandas as pd

df2=pd.read_csv("../../src/dream11_dataset_with_rolling_updated.csv")
sorted=df2.sort_values('points',ascending=False)
sorted.head(5)

,match_id,player,team,opposition,venue,season,role,runs,balls_faced,fours,...,runs_conceded,balls_bowled,dot_balls,catches,stumpings,run_outs,points,avg_points_last_5,avg_runs_last_5,avg_wickets_last_5
5498,2024-04-16,SP Narine,Kolkata Knight Riders,Rajasthan Royals,"Eden Gardens, Kolkata",2024,Unknown,109.0,56.0,13.0,...,31.0,24.0,11.0,1.0,0.0,0.0,292.0,109.4,33.4,1.0
4327,2023-05-12,Rashid Khan,Gujarat Titans,Mumbai Indians,"Wankhede Stadium, Mumbai",2023,Unknown,79.0,32.0,3.0,...,30.0,24.0,10.0,0.0,0.0,0.0,291.0,60.6,1.0,1.4
2783,2022-05-18,Q de Kock,Lucknow Super Giants,Kolkata Knight Riders,"Dr DY Patil Sports Academy, Mumbai",2022,Unknown,140.0,70.0,10.0,...,0.0,0.0,0.0,1.0,1.0,0.0,286.0,63.8,27.4,0.0
3976,2023-04-30,YBK Jaiswal,Rajasthan Royals,Mumbai Indians,"Wankhede Stadium, Mumbai",2023,Unknown,124.0,61.0,16.0,...,0.0,0.0,0.0,0.0,0.0,0.0,262.0,81.0,35.8,0.0
5691,2024-04-23,MP Stoinis,Lucknow Super Giants,Chennai Super Kings,"MA Chidambaram Stadium, Chepauk, Chennai",2024,Unknown,124.0,61.0,13.0,...,50.0,24.0,4.0,0.0,0.0,1.0,254.0,55.4,21.6,0.4

In [14]:
import pandas as pd

df2=pd.read_csv("../../src/dream11_dataset_with_rolling.csv")
sorted=df2.sort_values('points',ascending=False)
sorted.head(5)

,match_id,player,team,opposition,venue,season,role,runs,balls_faced,fours,...,runs_conceded,balls_bowled,dot_balls,catches,stumpings,run_outs,points,avg_points_last_5,avg_runs_last_5,avg_wickets_last_5
4341,2023-05-12,Rashid Khan,Gujarat Titans,Mumbai Indians,"Wankhede Stadium, Mumbai",2023,Unknown,79,32,3,...,30,24,10,0,0,0,258,58.2,1.0,1.4
5505,2024-04-16,SP Narine,Kolkata Knight Riders,Rajasthan Royals,"Eden Gardens, Kolkata",2024,Unknown,109,56,13,...,31,24,11,1,0,0,237,88.4,33.4,1.0
3894,2023-04-29,MR Marsh,Delhi Capitals,Sunrisers Hyderabad,"Arun Jaitley Stadium, Delhi",2023,Unknown,63,39,1,...,27,24,12,0,0,0,226,31.0,6.2,0.6
441,2021-04-25,RA Jadeja,Chennai Super Kings,Royal Challengers Bangalore,"Wankhede Stadium, Mumbai",2021,Unknown,62,27,4,...,13,24,15,0,0,0,222,45.0,10.0,0.5
2776,2022-05-18,Q de Kock,Lucknow Super Giants,Kolkata Knight Riders,"Dr DY Patil Sports Academy, Mumbai",2022,Unknown,140,70,10,...,0,0,0,1,1,0,196,41.4,27.4,0.0